.title h1 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
}

.total::before {
    content: '';
    border-top: 2px solid #FAAB9F;
    background-color: #FAAB9F;
    height: 2px;
    width: 100%;
}

h3 {
    font-family: 'Cinzel Decorative', cursive;
}

p {
    padding-bottom: 50px;
}

section>a {
    padding: .5em;
    border: 2px solid #FAAB9F !important;
    margin: 1em;
    text-decoration: none;
    color: #FAAB9F;
}

section>a:hover {
    padding: .5em;
    border: 2px solid #b97267 !important;
    margin: 1em;
    text-decoration: none;
    color: #b97267;
}