.bookview{
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(232,232,232,1) 18%, rgba(255,255,255,1) 71%);
    min-height: 100vh;
    width: 100%;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2em;
    z-index: 1;
    background-color: black;
}

.card{
    max-width: 100%;
    max-height: 80%;
    position: relative;
    top:25px;
    padding: 15px 15px;
}

.img{
    overflow: hidden;
    max-width: 100%;
    max-height: 90vh;

}
.img>img{
    width: 100%;
    height: 100%;
}
.details{
 min-height:100vh ;
 width: 100%;
}

.bookview h1{
    font-size: 2em;
    padding-bottom:2em;
    text-align: center;
}

.bookview a{
    font-size: 18px;
    border:2px solid #FAAB9F;
    padding: 1em;
    margin: 2em;
}


.bookview h2{
    padding-top:2em;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.bybook{
    align-items: center;
    text-align: center;
}

.cat{
    background: rgba( 255, 255, 255, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100vh;
}