.grid{
    width: 100%;
    height: 300px;
    background-image: url('../img/shop.jpg');
    background-size: cover;
    
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family: 'Cinzel Decorative', cursive;
}
.grid>h1{
    font-size: 3em;
    text-align: center;
    padding: 2em;
}





.card>div>a>img{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.card>.img{
    max-height:400px;
    overflow: hidden;
    background-color: #F7F5F6;
     padding: 10px; /*image padding thik korle cart o thik korte hobe  */
}
.card{
    max-width: 300px;
    max-height: 600px;
    padding: 5px;
    background-color: #F7F5F6;
    margin-bottom: 10px;
   
}
.price{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 800;
}


.title>h1{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}
.title{
    padding: 100px 100px 0px 100px ;
    align-items: center;
}



.title::after{
    content: '';
    display: inline-block;
    background-image:  url('img/line.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    overflow: hidden;
    width: 100%;
    height: 50px;
   
}







.curt>a:link{
    text-decoration: none;
    color:#FAAB9F;
}

.cart>a{
    text-decoration: none;
    color:#F7F5F6;
}




.card>img{
    position: absolute;
}

.card{
    position: relative;     
    width: 350px;
}


.cart{
    position: relative;
    top: -150px;
    background-color:#282828 ;
    color: #F7F5F6;
    font-size: 1.5em;
    padding:.5em .5em;
    left: -64%;
    transition: 0.3s;
}
.cart:hover{
    left: 0;
}

.cart>a:hover{
    text-decoration: none;
    color:#FAAB9F;
}

container-fluid::after{
    display: block;
    content: '';
    padding-bottom: 50px;
}

a{
    color: #282828;
    text-decoration: none;
}