*{ padding: 0;
    margin: 0;
    box-sizing: border-box!important;
}
.headercontainer{
    width: 80%!important;    
    margin: 0 auto!important;
}
.header{
    position: absolute!important;
    width: 100%!important;
    box-shadow:1px 1px 6px 0px rgb(0 0 0 / 13%)!important;
    background-color:#fafafa!important;
}
nav{
    display: flex!important;
}
.left{
    position: relative!important;
 
    left: 0!important;
}
.logo{ 
     position: relative!important;
  
    margin: 0 auto!important;
    display: flex!important;
    align-items: center;

    
}
.nav{
    margin: auto 0!important;
}
.logo h1{
    margin: auto o;
    color: #222;
    font-weight: 900;
    line-height: 1.4;
    font-size: 2em;
    padding: 25px;
    font-family: 'Cinzel Decorative', cursive;

}
.right{
    position: relative!important;
    right: 0!important;
}
nav>div>ul >li{
    display: inline-block!important;
    padding: 15px 15px!important;
    list-style: none!important;
    position: relative;
    
}
nav>div>ul >li >a{
    
    text-decoration: none!important;
    align-content: center!important;
    padding:20px 15px!important;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em!important;
    color: #222!important;
   
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}


::selection {
    color:#ffffff;/* Code for Firefox */
    background: #FAAB9F;
  }
  ::-moz-selection { 
    color:#ffffff;
    background: #FAAB9F;
  }






/* footer */
  
.footer{
    display: block;
    background-color: #282828;
    color: #ffff;
    padding: 20px;
}
.footer iframe{
    padding-top: 22px;
    max-width: 250px;
    max-height: 250px;
}
.footer h2{
    font-family: 'Cinzel Decorative', cursive;
    
}
.fb{
    font-size: 70px;
}

